body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.login-container h2 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #45a049;
}

.section1 {
  background: linear-gradient(rgba(8, 8, 8, 0.689), rgba(0, 0, 0, 0.561)),
    url("banner.jpg");
  background-size: cover;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav1 h1 {
  color: white;
}

.nav2 {
  color: white;
}

.nav2 ul {
  display: flex;
  gap: 10vh;
  font-size: 20px;
  padding-top: 1.5vh;
}

.nav3 {
  display: flex;
  gap: 2vh;
}

.below-nav {
  color: white;
  text-align: center;
  padding-top: 20vh;
}

.below-nav-p1 {
  font-size: 3vh;
}
.below-nav-p2 {
  font-size: 7vh;
}
.below-nav-p3 {
  font-size: 2vh;
}

.button-container {
  text-align: center;
  padding-top: 6vh;
}

.exceptional-button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 25px;
  margin: 10px;
  border: none;
  border-radius: 15px 15px 5px 30px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(45deg, #3498db, #2ecc71);
  transition: background 0.3s ease-in-out;
}

.exceptional-button:hover {
  background: linear-gradient(45deg, #2ecc71, #3498db);
}

.circle-container {
  display: flex;
  justify-content: center;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  margin: 4px;
  margin-top: 5vh;
}
